.cart-items {
    margin: 100px 170px;
}

.cart-items hr {
    height: 3px;
    background: #E2E2E2;
    border: 0;
}

.cart-items-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr repeat(4, 1fr);
    align-items: center;
    gap: 75px;
    padding:  20px 0;
    color: #454545;
    font-size: 1.125rem;
    font-weight: 600;
}

.cart-items-format {
    font-size: 1.0625rem;
    font-weight: 500;
}

.cart-items-format .cart-item {
    height: 100px;
    width: 100px;
}

.cart-items-remove-icon {
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}

.cart-items-quantity {
    width: 60px;
    height: 50px;
    border: 2px solid #EBEBEB;
    background: #fff;
}

.cart-items-format .btn {
    padding: 8px 10px;
    margin: 0 5px;
    cursor: pointer;
}