.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #5e5e5e;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 40px;
}

@media screen and (max-width:700px){
    .breadcrumbs p {
        color: black;
        font-size: 1rem;
        text-align: center;
    }
}