.offers {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#5899E2, #FFFFFF 60%);
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 5rem;
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 1.375rem;
    font-weight: 600;
}

.offers-left button {
    width: 280px;
    height: 70px;
    border-radius: 35px;
    background-color: #5899E2;
    border: none;
    color: #fff;
    font-size: 1.375rem;
    cursor: pointer;
    font-weight: 500;
    margin-top: 50px;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}